.MyButton {
  color: #fff;
  margin: 0 auto;
  width: 80%;
  display: block;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #185166;
  padding: 10px 15px;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.MyButton:hover {
  border-color: #646cff;
}